@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/less-prefixer/prefixer.less";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

@brand-primary: @fu-color-main;
@navbar-default-bg: @fu-color-main;
@navbar-default-border: @fu-color-main;
@navbar-default-toggle-border-color: @fu-color-main-2;
@navbar-default-link-color: white;
@navbar-default-link-active-color: white;
@navbar-default-link-hover-bg: @fu-color-main-2;
@navbar-default-link-hover-color: @fu-color-light-1;
@navbar-default-toggle-icon-bar-bg: white;
@navbar-default-toggle-hover-bg: @fu-color-main-2;
//@grid-gutter-width: 0;
@fu-color-main: #e65524;
@fu-color-main-2: lighten(@fu-color-main, 5%);
@fu-color-main-3: lighten(@fu-color-main, 30%);
@fu-color-secondary: #418689;
@fu-color-light-1: darken(white, 20%);
@font-family-sans-serif: 'Droid Sans', sans-serif;
@font-family-cursive: 'Architects Daughter', cursive;

html, body {
	font-family: @font-family-sans-serif;
}

nav {
	margin-bottom: 0;

	.navbar-brand {
		font-size: 2em;
		font-family: @font-family-cursive;
	}

	.fu-nav-icon {
		display: inline-block;
		width: 2ch;
		text-align: center;
	}

}

section {
	margin-top: -5px;

	.fu-dual-img-box {

		.well {
			margin: 5px 0 5px 0;
		}

		.left, .right{
			.make-xs-column(6, 0);
		}

		.left {
			margin-left: -5px;
			text-align: right;
		}
		.right {
			right: -7px;
			text-align: left;
		}

		.fu-profile {
			padding: 5px 5px 0 5px;
			.fu-profile-img img {
				height: 8vh;
			}
		}

		.fu-distance {
			.fu-map {
				margin: 5px 0 5px 0;
				width: 100%;
			}
		}

	}

	.fu-share {
		.fu-share-upload {
			text-align: center;
			height: 85vh;
			border: 5px dotted @fu-color-main-3;
			position: relative;
			.fu-icon {
				width: 50%;
				height: 50%;
				overflow: auto;
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				i {
					color: @fu-color-secondary;
				}
			}
		}

		.fu-share-pick {
			position: fixed;
			top: 0;
			left: 0;
			img {
				width: 100vw;
				height: 100vh;
			}
		}

		.fu-share-uploading {
			text-align: center;
			vertical-align: middle;
			height: 100vh;
			.progress {
				margin-top: 35vh;
			}
		}

		.fu-share-tag {
			.thumbnail {
				width: 100%;
			}

			.input-group {
				margin: 5px 0 5px 0;
			}

			.fa-globe {
				color: @fu-color-secondary;
			}
		}


		.fu-share-match {
			text-align: center;
			height: 100vh;
			position: relative;
			.fu-icon {
				width: 50%;
				height: 50%;
				overflow: auto;
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
			}
			i {
				color: @fu-color-main;
			}
		}





	}

	.fu-profile {
		.img-circle.large {
			width: 25vw;
		}
		.img-circle.small {
			width: 10vw;
			border: 1px #D3D3D3 solid;
		}
		h4 {
			color: @fu-color-main;
			margin-top: 10px;
		}
		.fu-gold {color: @fu-color-main}
	}


}


.btn {
	&:focus { outline: 0;	}
}

.badge {
	color: white !important;
	background-color: @fu-color-secondary !important;
}



.animate-switch.ng-animate {
	.transition(all 0.5s linear);

}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
	filter: blur(0);
	-webkit-filter: blur(0);
}