<p>Share your favorite food with lovely people around the world.</p>

<div>
	<a href="#/share" type="button" class="btn btn-primary btn-block"><i class="fa fa-camera"></i> What are you eating now?</a>
</div>

<h4 class="text-center">Latest Match</h4>

<div class="fu-dual-img-box">
	<div class="well well-sm">
		<i class="fa fa-heart"></i> <span class="label label-primary">shawarma</span> is a delicious delicacy local to the Middle East.
	</div>

	<div class="left">
		<div class="img">
			<img src="img/yara-food.jpg" class="img-thumbnail" alt=""/>
		</div>

		<div class="fu-profile">
			<div class="fu-profile-img pull-left">
				<a href="#/profile"><img src="img/yara.jpg" class="img-circle" alt=""/></a>
			</div>
			<div class="fu-profile-other">
				<span>Yara</span>
				<br/>
				<span>Pakistan</span>
				<span class="flag-icon flag-icon-pk flag-icon-squared"></span>
			</div>
		</div>
	</div>

	<div class="right">
		<div class="img">
			<img src="img/christian-food.jpg" class="img-thumbnail" alt=""/>
		</div>

		<div class="fu-profile">
			<div class="fu-profile-img pull-right">
				<img src="img/christian.jpg" class="img-circle" alt=""/>
			</div>
			<div class="fu-profile-other">
				<span>Christian</span>
				<br/>
				<span class="flag-icon flag-icon-in flag-icon-squared"></span>
				<span>India</span>
			</div>
		</div>
	</div>

	<div class="fu-distance text-center">
		<small>••• 2,163 km •••</small>
		<img src="img/map.png" class="fu-map" alt=""/>
	</div>

</div>